#!/bin/bash

# Inherit environment variables from parent directories.
# This file gets checked into git so do not include sensetive information like API keys, etc.
# or local configuration (not common to the team, Ex. paths)
# 
# Instead define local and sensitive data in a parent directory using a .envrc file.
# The source_up command here will load them
source_up

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
